@keyframes slideIn {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes slide-s {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slide-e {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slide-el {
  0% {
    transform: translateX(0rem);
    opacity: 1;
  }

  100% {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes slide-b {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes slide-t {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grid {
  0% {
    opacity: 0;
    max-height: 100vw;
  }

  100% {
    opacity: 1;
    max-height: 100%;
  }
}

nav {
  font-size: 0.875rem;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: -0.00875rem;
}

.lt {
  letter-spacing: -0.09rem;
}

.lt-1 {
  letter-spacing: -0.01rem;
}

.lt-2 {
  letter-spacing: -0.125rem;
}

.lt-3 {
  letter-spacing: 0.0625rem;
}

.lt-4 {
  letter-spacing: -0.00875rem;
}

.small-text {
  font-size: 0.75rem;
}

.container-arrows {
  width: 12vw;
  height: 6vw;
  margin-bottom: -1px;
}

.grid {
  margin-left: -1.5rem;
  width: calc(100% + 3rem);
  max-width: none;
  max-height: 100vw;
  transition: all 1000ms;
}

.grid-long {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: grid;
  transition: all 1000ms;
  max-height: 100%;
}

.grid-item {
  width: 33.33%;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container-arrows {
    width: 16vw;
    height: 8vw;
  }

  .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .grid-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}

.slideIn {
  animation-name: slideIn;
}

.form-control {
  left: -14rem;
  top: 129%;
  transition: all 1000ms;
  width: auto;
  visibility: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slide-el;
}

.form-control-out {
  visibility: visible;
  transition: all 1000ms;
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slide-s;
}

.bg-img {
  background-image: url("./../img/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  transition: 0.2s all;
  cursor: pointer;
}

.box_others {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.box_selected {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.popup {
  display: none;
}

.fade-s,
.fade-e,
.fade-b,
.fade {
  opacity: 0;
}

.fade-s-in,
.fade-e-in,
.fade-b-in,
.fade-in {
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-s-in {
  animation-name: slide-s;
}

.fade-e-in {
  animation-name: slide-e;
}

.fade-b-in {
  animation-name: slide-b;
}

.fade-in {
  animation-name: slide;
}

.padding-button-2 {
  padding: 0.88rem 1.5rem;
}

.padding-button-1 {
  padding: 0.66rem 1.5rem;
}

.mx-6 {
  margin-left: 5.5rem !important;
  margin-right: 5.5rem !important;
}

.px-6 {
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}

.pe-6 {
  padding-right: 5.5rem !important;
}

.px-25 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ps-25 {
  padding-left: 2rem;
}

.pe-25 {
  padding-right: 2rem;
}

.custom-w {
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .px-25,
  .ps-25,
  .pe-25 {
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
  }
}

@media screen and (max-width: 991px) {
  .form-control {
    top: 0;
    left: 2rem;
  }

  .container-arrows {
    width: 100%;
    height: 8vw;
    opacity: 0.5;
  }

  .mx-6 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  .px-6 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .pe-6 {
    padding-right: 0 !important;
  }

  .custom-w {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .custom-w {
    width: 100%;
  }
}

.bg-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(220, 193, 171, 1) 100%
  ) !important;
  z-index: 10;
  top: 25%;
  pointer-events: none;
}
